{% include "header.html" %}
<div class="container">
  <div class="jumbotron">
    
    <h1>Cutting Stock Problem Solver</h1>           
  </div>
  <h2>Choose an Algorithm</h2>
	<center>
	
	<form id="form1" action="/solution" >
		<div class="well well-sm"><input type="radio" name="algoSelect" value="genetic" id="genetic" onclick="selectAlgo()">Genetic Approach</div>
		
		<div class="well well-sm"><input type="radio" name="algoSelect" value="greedy"  id="greedy" onclick="selectAlgo()">Greedy Approach</div></br>
		<input type="hidden" value="" id="algo">
		<div id="stockinput" style="visibility:hidden">
		<div border="2">
			<div >
				<label>Stock Size:</label>
				<input type="number" class="form-control" id="stockSize" name="stockSize" width="200" required>
			 </div>
			 
			<div class="form-group">
				<label>Waste Threshold:</label>
				<input type="number" class="form-control" id="wasteThreshold" name="wasteThreshold" required onblur="checkWasteSize()">
			 </div>
       <table><tr><td><span title="Value for stocks reduction">S </span></td><td><input type="range" min="0" max="100" value="20" name="slider" id="slider" onchange="changeSlider()"/></td><td><span title="Value for wastage reduction"> W</span</td></tr><tr><td></td><td id="slidervalue" align="center">0.2 : 0.8</td><td></td></tr></table>
		</div>
    <br/><br/>
	
	
	<table class="table table-bordered" id="blockTable" >
        <thead>
          <tr>
            <th>Block Size</th>
            <th>No. of Block</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width=""><input type="number" class="form-control" id="bsize0" name="size0" width="200" required></td>
            <td width=""><input type="number" class="form-control" id="bqty0" name="qty0" width="200" required></td>
          </tr>
        </tbody>
      </table>
	  
	  
	<button type="button" class="btn btn-success" onclick="addMore()" style="float:right" >Add more</button><br><br><br>
	

	
	</form>
  <button class="btn btn-primary" onclick="return getBlockSizeNumber()" >Continue</button>
	</div>	
	</center>
{% include "footer.html" %}
